<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

   <!-- ################## hsome_quickMenu | 퀵메뉴 ################## -->
    <aside class="hsome_quickMenu hsome_quickMenu1909 active">
      <ul>
        <li class="shop">
          <a
            href="/quickmenu"
            ><i>메뉴</i></a
          >
        </li>
        <li class="sns">
          <a
            href="/ko/sns/main"
            ><i>스타일 LIVE</i></a
          >
        </li>
        <li class="home">
          <a
            href="javascript:noLink();"
            ><i>홈</i></a
          >
        </li>
        <li class="myheart" id="gnbMyheartBtn">
          <a
            href="/mypage/wish"
            ><i>마이하트</i></a
          >
        </li>
        <li class="mypage" id="gnbMyPageBtn">
          <a
            href="/mypage/mypage"
            ><i>마이페이지</i></a
          >
        </li>
        <li class="mypage pageMove" style="display: none">
          <a href="/ko/member/login" id="gnbMypageBtn"></a>
        </li>
        <li class="mypage" style="display: none">
          <a href="/ko/mobilecommon/myPagePopup" id="gnbMypagePopupBtn"></a>
        </li>
      </ul>
    </aside>
    <!-- ################## //hsome_quickMenu | 퀵메뉴 ################## -->


</html>