<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hyundai.thehandsome.mapper.MyPageMapper">





	<select id="findWishlist"
		resultType="com.hyundai.thehandsome.domain.mypage.WishList">
		SELECT LIKES.PID as productCode, Product_color.PCIMG1 as
		productImages FROM LIKES, Product_color
		WHERE
		LIKES.Member_MID=#{mId}
		and LIKES.PID=Product_color.PCID
	</select>

	<select id="findWish" resultType="String">
		SELECT PID
		FROM LIKES
		Where
		Member_MID=#{mId}
		and PID=#{productCode}
	</select>


	<insert id="insertWishlist">
		INSERT INTO LIKES
		VALUES( #{productCode} , #{mId},
		#{sysdate})
	</insert>


	<delete id="deleteWishlist">
		delete from LIKES
		WHERE PID=#{productCode} and
		Member_MID=#{mId}
	</delete>


	<select id="findVoucher"
		resultType="com.hyundai.thehandsome.domain.mypage.Voucher">
		select c.CPISSUEDATE AS startdate , e.ECONTENT AS
		description, c.CPID AS voucherCode, e.ECOUPONTITLE AS name,
		e.EDISCOUNT AS value, c.CPUSEDATE AS usedate, c.CPEXPIREDATE AS enddate,
		e.etitle AS currency
		from COUPON_DETAIL c join EVENT e
		on c.ENO = e.ENO
		where c.mId =#{mId} and c.CPSTATUS=#{CPSTATUS}
	</select>



</mapper>