<!--
 @Date : 2023. 02. .06
 @작성자 : 박성환
 @설명 :  비밀번호 변경 페이지
-->

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>타이틀 | 더한섬닷컴</title>
<body>

	<th:block th:replace="common/head :: headFragment"></th:block>


	<script>
		// 23.02.06 AJAX 처리 완료.
		var passwordControll2 = function(division, inputPW, prk) {

			console.log(inputPW);

			var t = this;

			this.trueAction = function() {
			};

			this.falseAction = function() {
			};

			var target_url = $("#updateProfileForm").attr("action");

			$.ajax({
				type : "GET",
				url : "/mypage/passwordControll",
				data : {
					"division" : division,
					"inputPW" : inputPW,
					"prk" : prk
				},
				success : function(response) {
					if (response == true) {
						t.trueAction();
					} else {
						t.falseAction();
					}
				},
				error : function(e) {
					alert(e);
				}
			});

		};

		//<![CDATA[ 
		$(document)
				.ready(
						function() {

							$('#oldPassword2').blur(

									function() {

										console.log("123");

										if ($("#oldPassword2").val() == "") {
											$("#oldPassword2").focus();
										} else {
											var pwc = new passwordControll2(
													"compare", $(
															"#oldPassword2")
															.val(),
													"8953969410052");
											pwc.trueAction = function() {
												$("#oldPasswordCheckMsg")
														.show();
												$("#oldPasswordCheckMsg").text(
														"기존 비밀번호와 일치합니다."); //다국어 : 기존 비밀번호와 일치합니다.
											};
											pwc.falseAction = function() {
												$("#oldPasswordCheckMsg")
														.show();
												$("#oldPasswordCheckMsg").text(
														"기존 비밀번호와 일치하지 않습니다."); //다국어 : 기존 비밀번호와 일치하지 않습니다.
												$("#oldPassword2").val("");
												$("#oldPassword2").focus();
											};
										}
									});

							$('#cancelBtn').click(
									function() {
										var la = new layerConfirm(
												"비밀번호 변경을 취소하시겠습니까?", '확인',
												'취소');
										la.confirmAction = function() {//확인 호출 펑션
											$(".btn_lyrpp_close").click();
										}
									});

							$('#confirmBtn')
									.click(
											function() {
												if ("ko" == "ko") {
													var pwRegExp = /^(?=.*[a-zA-Z])(?=.*[\?\<\>\;\:\'\"\`\(\)\{\}\[\]\|\\\~\,\.!@#$%^*+=-])(?=.*[0-9]).{8,15}$/;
												} else {
													var pwRegExp = /^(?=.*[a-zA-Z])(?=.*[\?\<\>\;\:\'\"\`\(\)\{\}\[\]\|\\\~\,\.!@#$%^*+=-]{0,15})(?=.*[0-9]).{8,15}$/;
												}

												$("#newPasswordDubMsg").hide();
												$("#newPasswordConfirmDubMsg")
														.hide();

												if ($.trim($("#oldPassword2")
														.val()) == "") {
													$("#oldPassword2CheckMsg")
															.show();
													$("#oldPassword2CheckMsg")
															.text(
																	"필수항목을 입력하시길 바랍니다."); //다국어 : 필수항목을 입력하시길 바랍니다.
													$("#oldPassword2").focus();
													return false;
												}

												if ($.trim($("#newPassword")
														.val()) == "") {
													$("#newPasswordDubMsg")
															.show();
													$("#newPasswordDubMsg")
															.text(
																	"필수항목을 입력하시길 바랍니다."); //다국어 : 필수항목을 입력하시길 바랍니다.
													$("#newPassword").focus();
													return false;
												}

												if (!pwRegExp.test($(
														"#newPassword").val())) {
													$('#newPasswordDubMsg')
															.show();
													$('#newPasswordDubMsg')
															.text(
																	"비밀번호는 8~15자리 이하로 영문/숫자/특수문자를 혼합해주세요."); //다국어 : 비밀번호는 8~15자리 이하로 영문/숫자/특수문자를 혼합해주세요.
													$("#newPassword").val("");
													$("#newPasswordConfirm")
															.val("");
													$('#newPassword').focus();
													return false;
												}

												if (!passwordDataValidationCheck(
														'newPassword',
														'newPasswordDubMsg')) {
													$("#newPasswordDubMsg")
															.show();
													$("#newPassword").val("");
													$("#newPasswordConfirm")
															.val("");
													$("#newPassword").focus();
													return false;
												}

												if ($.trim($(
														"#newPasswordConfirm")
														.val()) == "") {
													$(
															"#newPasswordConfirmDubMsg")
															.show();
													$(
															"#newPasswordConfirmDubMsg")
															.text(
																	"필수항목을 입력하시길 바랍니다."); //다국어 : 필수항목을 입력하시길 바랍니다.
													$("#newPasswordConfirm")
															.focus();
													return false;
												}

												if ($("#newPassword").val() != $(
														"#newPasswordConfirm")
														.val()) {
													$(
															"#newPasswordConfirmDubMsg")
															.show();
													$(
															"#newPasswordConfirmDubMsg")
															.text(
																	"비밀번호가 일치하지 않습니다."); //다국어 : 비밀번호가 일치하지 않습니다.
													$('#newPasswordConfirm')
															.val("");
													$('#newPasswordConfirm')
															.focus();
													return false;
												}

												if (!passwordDataValidationCheck(
														'newPasswordConfirm',
														'newPasswordConfirmDubMsg')) {
													$(
															"#newPasswordConfirmDubMsg")
															.show();
													$('#newPasswordConfirm')
															.val("");
													$('#newPasswordConfirm')
															.focus();
													return false;
												}

												var la = new layerConfirm(
														"입력하신 비밀번호로 변경하시겠습니까?",
														'확인', '취소');
												la.confirmAction = function() {//확인 호출 펑션
													showLoadingLp(); //로딩레이어 호출
													var pwc = new passwordControll2(
															"save",
															$(
																	"#newPasswordConfirm")
																	.val(),
															"8953969410052");
													pwc.trueAction = function() {
														var la = new layerAlert(
																"비밀번호 변경이 완료 되었습니다. "); //다국어 : 비밀번호 변경이 완료되었습니다.
														la.confirmAction = function() {
															hideLoadingLp(); //로딩레이어 숨기
															window.location.href = "/mypage/personInfomationChange";
															$(
																	".btn_lyrpp_close")
																	.click();
														};
													};
													pwc.falseAction = function() {
														hideLoadingLp(); //로딩레이어 숨기
														layerAlert("비밀번호 변경에 실패하였습니다.<br />같은 문자가 3회 연속 입력 되었는지 확인해주세요."); //다국어 : 비밀번호 변경에 실패하였습니다.<br />같은 문자가 3회 연속 입력 되었는지 확인해주세요. 
													};
												}
											});

							$('#confirmHPBtn')
									.click(
											function() {
												window
														.open("https://www.h-point.co.kr/cu/mem/showCustInfo.shd");
											});
						});

		var zxczxc123;
		var passwordDataValidationCheck = function(fid, msgid) {
			if (capsLock($('#' + fid).val())) {
				$('#' + msgid).text("Caps Lock 이 켜져 있습니다."); //다국어 : <Caps Lock>이 켜져 있습니다.
				return false;
			}

			var SamePass_0 = 0; // 동일문자 카운트
			var SamePass_1 = 0; // 연속성(+) 카운드
			var SamePass_2 = 0; // 연속성(-) 카운드	
			var inputdata = $('#' + fid).val()

			for (var i = 0; i < inputdata.length; i++) { // 4자리
				var chr_pass_0 = inputdata.charCodeAt(i - 2);//3);
				var chr_pass_1 = inputdata.charCodeAt(i - 1);//2);
				var chr_pass_2 = inputdata.charCodeAt(i);// - 1);

				if (i > 1) {
					// 동일문자 카운트
					if ((chr_pass_0 == chr_pass_1)
							&& (chr_pass_1 == chr_pass_2)) {
						SamePass_0++;
					} else {
						SamePass_0 = 0;
					}

					// 연속성(+) 카운드
					if (chr_pass_0 - chr_pass_1 == 1
							&& chr_pass_1 - chr_pass_2 == 1) {
						SamePass_1++;
					} else {
						SamePass_1 = 0;
					}

					// 연속성(-) 카운드
					if (chr_pass_0 - chr_pass_1 == -1
							&& chr_pass_1 - chr_pass_2 == -1) {
						SamePass_2++;
					} else {
						SamePass_2 = 0;
					}
				}

				if (SamePass_0 > 0) {
					$('#' + msgid).text("동일문자를 3번 이상 사용할 수 없습니다."); //다국어 : 동일문자를 3번 이상 사용할 수 없습니다.

					inputdata = inputdata.substring(0, inputdata.length - 3);
					$('#' + fid).val(inputdata);
					return false;
				}

				if (SamePass_1 > 0 || SamePass_2 > 0) {
					$('#' + msgid).text(
							"연속된 문자열(123 또는 321, abc, cba 등) 3자리이상 올 수 없습니다."); //다국어 : 연속된 문자열(123 또는 321, abc, cba 등)을 3자리이상 올 수 없습니다. 

					inputdata = inputdata.substring(0, inputdata.length - 3);
					$('#' + fid).val(inputdata);
					return false;
				}
			}

			return true;
		};

		function closeWin() {
			if ($("#nshow").is(":checked")) {
				setCookie("memberTransPop", "Y", 7);
			}
		}

		function joinHP(url) {
			window.open("https://www.h-point.co.kr/cu/join/start.nhd");
		}

		//
	</script>

	<div class="layerpop_wrap lp_change_pw_wrap">

		<!-- layerpop_top s -->
		<div class="lyrpp_top">
			<a href="#none" class="lyrpp_close lyrpp_close_stl1 btn_lyrpp_close"><span>닫기</span></a>
			<h2>비밀번호 변경</h2>
		</div>
		<!-- layerpop_top e -->

		<!-- layerpop_middle s -->
		<div class="lyrpp_mid">
			<!-- input_box s -->
			<div class="input_box mt0">
				<div class="ipt_tit mt5">
					<span>기존 비밀번호</span>
				</div>
				<div class="ipt_con">
					<input type="password" id="oldPassword2" maxlength="100">
					<p class="err_box" id="oldPasswordCheckMsg">
						<!-- 비밀번호는 8~15자리 이하로 영문/숫자/특문을 혼합해 주세요. -->
					</p>

				</div>
			</div>
			<!-- input_box e -->
			<!-- input_box s -->
			<div class="input_box">
				<div class="ipt_tit">
					<span>새 비밀번호 입력</span>
				</div>
				<div class="ipt_con">
					<input type="password" id="newPassword" maxlength="100">
					<p class="err_box" id="newPasswordDubMsg">
						<!-- 비밀번호는 8~15자리 이하로 영문/숫자/특문을 혼합해 주세요. -->
					</p>
				</div>
			</div>
			<!-- input_box e -->
			<!-- input_box s -->
			<div class="input_box">
				<div class="ipt_tit">
					<span>새 비밀번호 확인</span>
				</div>
				<div class="ipt_con">
					<input type="password" id="newPasswordConfirm" maxlength="100">
					<p class="err_box" id="newPasswordConfirmDubMsg">
						<!-- 비밀번호를 입력하세요. -->
					</p>
				</div>
			</div>
			<!-- input_box e -->

			<!-- layerpop_btns s -->
			<div class="btn_wrap btn_wrap_div2">
				<a href="#none" class="btnstl3 border_btn_gray" id="cancelBtn"><span>취소</span></a> <a href="#none" class="btnstl3 solid_btn_blk" id="confirmBtn"><span>변경사항
						저장</span></a>
			</div>
			<!-- layerpop_btns e -->
		</div>
		<!-- layerpop_middle e -->

	</div>

	<th:block th:replace="common/footer :: footFragment"></th:block>


</body>
</html>


