<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<title>회원가입완료 | 더한섬닷컴</title>

<th:block th:replace="member/head :: headFragment"></th:block>

<body>
	<script>
		(function() {
			if (document.cookie.indexOf("thehyundai=true") > -1) {
				var d = new Date();
				d.setTime(d.getTime() + 365 * 24 * 60 * 60 * 1000);
				document.cookie = "sslvisit=true; expires=" + d.toUTCString()
						+ "; path=/";
			} else if (document.cookie.indexOf("rakuten=") > -1) {
				var d = new Date();
				d.setTime(d.getTime() + 365 * 24 * 60 * 60 * 1000);
				document.cookie = "sslvisit1=true; expires=" + d.toUTCString()
						+ "; path=/";
			} else if (document.cookie.indexOf("hyundaihmall=true") > -1) {
				var d = new Date();
				d.setTime(d.getTime() + 365 * 24 * 60 * 60 * 1000);
				document.cookie = "sslvisit2=true; expires=" + d.toUTCString()
						+ "; path=/";
			} else if (document.cookie.indexOf("fromSite") > -1) {
				var d = new Date();
				d.setTime(d.getTime() + 365 * 24 * 60 * 60 * 1000);
				document.cookie = "sslvisit3=" + "" + "; expires="
						+ d.toUTCString() + "; path=/";
			} else if (document.cookie.indexOf("recommender") > -1) {
				var d = new Date();
				d.setTime(d.getTime() + 365 * 24 * 60 * 60 * 1000);
				document.cookie = "sslvisit4=" + "" + "; path=/";
			}
		})();
	</script>
	<!-- Loading -->
	<div style="display: none">
		<div id="loadingBarDiv" style="display: none"></div>
	</div>
	<!-- //Loading -->

	<form id="CSRFForm" action="/ko/member/joincomplete" method="post">
		<div>
			<input type="hidden" name="CSRFToken" value="cd9050c6-105b-4660-8eff-bcdaba320336" />
		</div>
	</form>
	<div id="mapleMainPopwrap"
		style="position: fixed; top: 50%; left: 50%; width: 81.333333%; z-index: 805; transform: translate(-50%, -50%); display: none;"
	></div>

	<div class="layerArea" id="mapleLayer" style="display: none">
		<div class="layerBg"></div>
	</div>

	<!-- ################## hsome_allContents_wrapper | ë³¸ë¬¸ ì»¨íì¸  ìì­ ################## -->
	<div class="hsome_allContents_wrapper">
		<div class="hsome_allContents">
			<script type="text/javascript">
				function goMainpage() {
					window.sessionStorage.removeItem("moveYn");
					location.href = "/ko/main";
				}
			</script>

			<!-- ################## header ################## -->
			<header class="hsome_header">
				<h1 class="h_ttl ellipsis" id="headerTitle">간편회원가입 가입완료</h1>
				<a href="/ko/main" class="h_top_home"><span>홈</span></a> <a href="javascript:noLink();" onclick="goBack();" class="h_prev">이전 페이지로 가기</a>
				<ul class="h_gnbMenu">
					<li class="search"><a href="/ko/mobilecommon/search" onclick="GA_Event('공통', '헤더', '검색');"><span>search</span></a></li>
					<li class="cart"><a href="/ko/shoppingbag" onclick="GA_Event('공통', '헤더', '쇼핑백');"><span>cart</span><i>0</i></a></li>
				</ul>
			</header>
			<!-- //################## header ################## -->

			<!-- This script is for AceCounter START -->
			<script language="javascript" type="text/javascript">
				var _jn = "join"; //  가입탈퇴 ( 'join','withdraw' )
				var _jid = "95nanoland@naver.com"; // 가입시입력한 ID
			</script>
			<!-- AceCounter END -->

			<script type="text/javascript">
				//<![CDATA[
				$(document).ready(function() {
					$("#mainBtn").click(function() {
						location.href = "/ko/";
					});

					$("#loginBtn").click(function() {
						location.href = "/ko/member/login";
					});

					fbq("track", "CompleteRegistration", {});
				});

				//]]>
			</script>
			<!-- contents s -->
			<div class="hsome_contents mbr_signup_wrap">
				<div class="mem_ct_wrap">
					<div class="txt_wrap new_cmt">
						<h5>한섬통합몰의 회원이 되신 것을 축하드립니다.</h5>
						<p>
							입력하신 개인 정보는 <a href="/ko/mypage/personInfomationChange">마이페이지 &gt; 나의정보관리 &gt; 개인정보변경</a>에서 바로 수정가능합니다.
						</p>
					</div>
					<div class="btn_wrap">
						<button class="btn btn_bg_b btn_login" id="loginBtn">로그인</button>
						<button class="btn btn_bd_g btn_login mt20" id="mainBtn">메인으로 이동</button>
					</div>
				</div>
			</div>
			<!-- //################## contents ################## -->
		</div>
	</div>
	<th:block th:replace="member/footer :: footFragment"></th:block>
</body>
</html>
