<!--
 @Date : 2023. 1. 31.
 @작성자 : 박성환
 @설명 : 회원가입 페이지
 	   : 로그인 속성 validation 적용 / 아이디 중복확인  AJAX
-->


<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<title>회원가입 | 더한섬닷컴</title>

<th:block th:replace="common/head :: headFragment"></th:block>
<body>
	<script>
		(function() {
			if (document.cookie.indexOf("thehyundai=true") > -1) {
				var d = new Date();
				d.setTime(d.getTime() + 365 * 24 * 60 * 60 * 1000);
				document.cookie = "sslvisit=true; expires=" + d.toUTCString()
						+ "; path=/";
			} else if (document.cookie.indexOf("rakuten=") > -1) {
				var d = new Date();
				d.setTime(d.getTime() + 365 * 24 * 60 * 60 * 1000);
				document.cookie = "sslvisit1=true; expires=" + d.toUTCString()
						+ "; path=/";
			} else if (document.cookie.indexOf("hyundaihmall=true") > -1) {
				var d = new Date();
				d.setTime(d.getTime() + 365 * 24 * 60 * 60 * 1000);
				document.cookie = "sslvisit2=true; expires=" + d.toUTCString()
						+ "; path=/";
			} else if (document.cookie.indexOf("fromSite") > -1) {
				var d = new Date();
				d.setTime(d.getTime() + 365 * 24 * 60 * 60 * 1000);
				document.cookie = "sslvisit3=" + "" + "; expires="
						+ d.toUTCString() + "; path=/";
			} else if (document.cookie.indexOf("recommender") > -1) {
				var d = new Date();
				d.setTime(d.getTime() + 365 * 24 * 60 * 60 * 1000);
				document.cookie = "sslvisit4=" + "" + "; path=/";
			}
		})();
	</script>
	<!-- Loading -->
	<div style="display: none">
		<div id="loadingBarDiv" style="display: none"></div>
	</div>
	<!-- //Loading -->

	<form id="CSRFForm" action="/ko/member/joininfoform" method="post">
		<div>
			<input type="hidden" name="CSRFToken" value="cd9050c6-105b-4660-8eff-bcdaba320336" />
		</div>
	</form>
	<div id="mapleMainPopwrap"
		style="position: fixed; top: 50%; left: 50%; width: 81.333333%; z-index: 805; transform: translate(-50%, -50%); display: none;"
	></div>

	<div class="layerArea" id="mapleLayer" style="display: none">
		<div class="layerBg"></div>
	</div>

	<!-- ################## hsome_allContents_wrapper | ë³¸ë¬¸ ì»¨íì¸  ìì­ ################## -->
	<div class="hsome_allContents_wrapper">
		<div class="hsome_allContents">
			<script type="text/javascript">
				function goMainpage() {
					window.sessionStorage.removeItem("moveYn");
					location.href = "/ko/main";
				}
			</script>

			<!-- ################## header ################## -->
			<header class="hsome_header">
				<h1 class="h_ttl ellipsis" id="headerTitle">회원정보입력</h1>
				<a href="/ko/main" class="h_top_home"><span>홈</span></a> <a href="javascript:noLink();" onclick="goBack();" class="h_prev">이전 페이지로 가기</a>
				<ul class="h_gnbMenu">
					<li class="search"><a href="/ko/mobilecommon/search" onclick="GA_Event('공통', '헤더', '검색');"><span>search</span></a></li>
					<li class="cart"><a href="/ko/shoppingbag" onclick="GA_Event('공통', '헤더', '쇼핑백');"><span>cart</span><i>0</i></a></li>
				</ul>
			</header>
			<!-- //################## header ################## -->
			<script type="text/javascript">
				//<![CDATA[
				$(document)
						.ready(
								function() {
									var nowYear = parseInt("2009");
									var nowMonth = parseInt("01");
									var nowDay = parseInt("30");
									var monthArray = [ 0, 31, 28, 31, 30, 31,
											30, 31, 31, 30, 31, 30, 31, ];

									//if(nowYear < 2000) nowYear += 1900;

									//년도
									for (var i = nowYear; i >= 1900; i--) {
										$("#selYear").append(
												"<option value='" + i + "'>"
														+ i + "</option>");
									}

									$("#selYear")
											.change(
													function() {
														var selYear1 = $(
																"#selYear")
																.val();

														if ($("#selMonth")
																.val() == 02) {
															if ($(
																	"#selDay option:last")
																	.val() >= 29) {
																$(
																		"#selDay option[value='29']")
																		.remove();
																$(
																		"#selDay option[value='30']")
																		.remove();
																$(
																		"#selDay option[value='31']")
																		.remove();
															}

															if ((selYear1 % 4 == 0 && selYear1 % 100 != 0)
																	|| selYear1 % 400 == 0) {
																$("#selDay")
																		.append(
																				"<option value='29'>29</option>");
															}
														}

														//만14세미만 가입X
														if (nowYear == selYear1) {
															for (var i = nowMonth + 1; i <= 12; i++) {
																if (i < 10) {
																	$(
																			"#selMonth option[value='0"
																					+ i
																					+ "']")
																			.remove();
																} else {
																	$(
																			"#selMonth option[value='"
																					+ i
																					+ "']")
																			.remove();
																}
																if ($(
																		"#selMonth")
																		.val() > nowMonth)
																	$(
																			"#selMonth")
																			.val(
																					"")
																			.prop(
																					"selected",
																					true);
															}

															if (nowMonth == parseInt($(
																	"#selMonth")
																	.val())) {
																var n_selMonth = parseInt($(
																		"#selMonth")
																		.val());
																var maxDay = monthArray[n_selMonth];

																for (var i = nowDay + 1; i <= maxDay; i++) {
																	if (i < 10) {
																		$(
																				"#selDay option[value='0"
																						+ i
																						+ "']")
																				.remove();
																	} else {
																		$(
																				"#selDay option[value='"
																						+ i
																						+ "']")
																				.remove();
																	}
																	if ($(
																			"#selDay")
																			.val() > nowDay) {
																		$(
																				"#selDay")
																				.val(
																						"")
																				.prop(
																						"selected",
																						true);
																	}
																}
															}
														} else {
															var n_selMonth = parseInt($(
																	"#selMonth")
																	.val());
															var maxDay = monthArray[n_selMonth];

															if ($(
																	"#selMonth option:last")
																	.val() < 12) {
																for (var i = nowMonth + 1; i <= 12; i++) {
																	if (i < 10) {
																		$(
																				"#selMonth")
																				.append(
																						"<option value='0" + i + "'>0"
																								+ i
																								+ "</option>");
																	} else {
																		$(
																				"#selMonth")
																				.append(
																						"<option value='" + i + "'>"
																								+ i
																								+ "</option>");
																	}
																}
															}
															if ($(
																	"#selDay option:last")
																	.val() < maxDay) {
																if ($(
																		"#selMonth")
																		.val() == 02) {
																	if ((selYear1 % 4 == 0 && selYear1 % 100 != 0)
																			|| selYear1 % 400 == 0) {
																		maxDay = 29;
																	}
																}
																for (var i = parseInt($(
																		"#selDay option:last")
																		.val()) + 1; i <= maxDay; i++) {
																	if (i < 10) {
																		$(
																				"#selDay")
																				.append(
																						"<option value='0" + i + "'>0"
																								+ i
																								+ "</option>");
																	} else {
																		$(
																				"#selDay")
																				.append(
																						"<option value='" + i + "'>"
																								+ i
																								+ "</option>");
																	}
																}
															}
														}
													});

									$("#selMonth")
											.change(
													function() {
														var lastDay = $(
																"#selDay option:last")
																.val();
														var selYear1 = $(
																"#selYear")
																.val();
														var n_selMonth = parseInt($(
																"#selMonth")
																.val());
														var maxDay = monthArray[n_selMonth];

														if ($(this).val() == 02) {
															$(
																	"#selDay option[value='31']")
																	.remove();
															$(
																	"#selDay option[value='30']")
																	.remove();
															$(
																	"#selDay option[value='29']")
																	.remove();

															if ((selYear1 % 4 == 0 && selYear1 % 100 != 0)
																	|| selYear1 % 400 == 0) {
																$("#selDay")
																		.append(
																				"<option value='29'>29</option>");
															}
														} else if ($(this)
																.val() == 04
																|| $(this)
																		.val() == 06
																|| $(this)
																		.val() == 09
																|| $(this)
																		.val() == 11) {
															if (lastDay == 28) {
																$("#selDay")
																		.append(
																				"<option value='29'>29</option>");
																$("#selDay")
																		.append(
																				"<option value='30'>30</option>");
															} else if (lastDay == 29) {
																$("#selDay")
																		.append(
																				"<option value='30'>30</option>");
															} else if (lastDay == 31) {
																$(
																		"#selDay option[value='31']")
																		.remove();
															}
														} else {
															if (lastDay == 28) {
																$("#selDay")
																		.append(
																				"<option value='29'>29</option>");
																$("#selDay")
																		.append(
																				"<option value='30'>30</option>");
																$("#selDay")
																		.append(
																				"<option value='31'>31</option>");
															} else if (lastDay == 29) {
																$("#selDay")
																		.append(
																				"<option value='30'>30</option>");
																$("#selDay")
																		.append(
																				"<option value='31'>31</option>");
															} else if (lastDay == 30) {
																$("#selDay")
																		.append(
																				"<option value='31'>31</option>");
															}
														}

														//만14세미만 가입X
														if (nowYear == selYear1
																&& nowMonth == $(
																		"#selMonth")
																		.val()) {
															for (var i = nowDay + 1; i <= $(
																	"#selDay option:last")
																	.val(); i++) {
																if (i < 10) {
																	$(
																			"#selDay option[value='0"
																					+ i
																					+ "']")
																			.remove();
																} else {
																	$(
																			"#selDay option[value='"
																					+ i
																					+ "']")
																			.remove();
																}
																if ($(
																		"#selDay option:last")
																		.val() < $(
																		"#selDay")
																		.val())
																	$("#selDay")
																			.val(
																					"")
																			.prop(
																					"selected",
																					true);
															}
														} else {
															if ($(
																	"#selDay option:last")
																	.val() < maxDay) {
																for (var i = parseInt($(
																		"#selDay option:last")
																		.val()) + 1; i <= maxDay; i++) {
																	if (i < 10) {
																		$(
																				"#selDay")
																				.append(
																						"<option value='0" + i + "'>0"
																								+ i
																								+ "</option>");
																	} else {
																		$(
																				"#selDay")
																				.append(
																						"<option value='" + i + "'>"
																								+ i
																								+ "</option>");
																	}
																}
															}
														}
													});

									//    emailTypeDomainSelectController("#emailDomain","#emailDomainSel");

									$("#pw")
											.keypress(
													function(event) {
														if (capsLock(event)) {
															$("#pwMsg")
																	.text(
																			"<Caps Lock>이 켜져 있습니다.");
															event
																	.preventDefault();
															return false;
														}
														$("#pwMsg").text("");
													});

									$("#pw")
											.change(
													function() {
														if ($(this).val().length > 0) {
															var pwRegExp = /^(?=.*[a-zA-Z])(?=.*[\?\<\>\;\:\'\"\`\(\)\{\}\[\]\|\\\~\,\.!@#$%^*+=-])(?=.*[0-9]).{8,15}$/;
															if (!pwRegExp
																	.test($(
																			this)
																			.val())) {
																$("#pwMsg")
																		.text(
																				"비밀번호는 8~15자리 이하로 영문/숫자/특수문자를 혼합해주세요");
																$("#pwTypeChk")
																		.val("");
																return true;
															}
															$("#pwTypeChk")
																	.val("Y");
															$("#pwMsg")
																	.text("");
															$("#pwcMsg").text(
																	"");
															$("#pwConfirmChk")
																	.val("");
														}
													});

									$("#pwc")
											.keypress(
													function(event) {
														if (capsLock(event)) {
															$("#pwcMsg")
																	.text(
																			"<Caps Lock>이 켜져 있습니다.");
															return false;
														}
														$("#pwcMsg").text("");
													});

									$("#pwc").change(
											function() {
												if ($("#pw").val() != $("#pwc")
														.val()) {
													$("#pwcMsg").text(
															"비밀번호가 일치하지 않습니다");
													$("#pwConfirmChk").val("");
													return true;
												}
												$("#pwConfirmChk").val("Y");
												$("#pwcMsg").text(
														"비밀번호가 확인되었습니다.");
											});

									$("#chk_email").click(function() {
										if ($(this).is(":checked")) {
											var email = "95parksh@naver.com";
											$("#emailAddress").val(email);
											chkEmail();
										}
									});

									$("#cancleBtn").click(
											function() {
												var lc = new layerConfirm(
														"회원가입을 취소하시겠습니까?",
														"확인", "취소");
												lc.confirmAction = function() {
													location.href = "/ko/";
												};
											});

									$("#joinBtn")
											.click(
													function() {
														var pwTypeChk = $(
																"#pwTypeChk")
																.val();
														var pwConfirmChk = $(
																"#pwConfirmChk")
																.val();
														var emailDuplChk = $(
																"#emailDuplChk")
																.val();

														if ($.trim($("#pw")
																.val()) == "") {
															$("#pwMsg")
																	.text(
																			"비밀번호를 입력하세요.");
															$("#pw").focus();
															return;
														}

														if (pwTypeChk !== "Y") {
															$("#pwMsg")
																	.text(
																			"비밀번호는 8~15자리 이하로 영문/숫자/특수문자를 혼합해주세요 ");
															$("#pw").focus();
															return;
														}

														$("#pwMsg").text("");

														if ($.trim($("#pwc")
																.val()) == "") {
															$("#pwcMsg")
																	.text(
																			"비밀번호 확인을 입력하세요.");
															$("#pwc").focus();
															return;
														}

														if (pwConfirmChk !== "Y") {
															$("#pwcMsg")
																	.text(
																			"입력한 비밀번호가 일치하지 않습니다.");
															$("#pwc").focus();
															return;
														}

														$("#pwcMsg").text("");

														if ($("#emailAddress")
																.val() != "") {
															if (emailDuplChk !== "Y") {
																$("#emailMsg")
																		.text(
																				"E-mail 중복확인이 되지 않았습니다.");
																$(
																		"#emailAddress")
																		.focus();
																return;
															}

															var email = $(
																	"#emailAddress")
																	.val();

														} else {
															if ($("#chk_agree")
																	.is(
																			":checked")) {
																$("#emailMsg")
																		.text(
																				"이메일(정보수신용) 을 입력해 주세요.");
																$(
																		"#emailAddress")
																		.focus();
																return;
															}
														}

														$("#emailMsg").text("");

														if ($.trim($("#name")
																.val()) == "") {
															$("#nameMsg")
																	.text(
																			"이름을 입력하세요.");
															$("#name").focus();
															return;
														}

														$("#nameMsg").text("");

														if ($
																.trim($(
																		"#selYear")
																		.val()) == ""
																|| $
																		.trim($(
																				"#selMonth")
																				.val()) == ""
																|| $
																		.trim($(
																				"#selDay")
																				.val()) == "") {
															$("#bdayMsg")
																	.text(
																			"생년월일을 입력하세요.");
															return;
														}

														$("#bdayMsg").text("");

														$(
																"#collectionAgreementYN")
																.val("Y");

														$("#sBirthday")
																.val(
																		$(
																				"#selYear")
																				.val()
																				+ $(
																						"#selMonth")
																						.val()
																				+ $(
																						"#selDay")
																						.val());
														$("#memberJoinForm")
																.attr("action",
																		"/member/joininfoform");

														$("#memberJoinForm")
																.submit();

														return;
													});
								});

				//]]>
			</script>

			<!-- contents s -->
			<div class="hsome_contents mbr_signup_wrap signup_wrap">
				<div class="mem_ct_wrap_bg">
					<h5 class="no_margin">더한섬닷컴 가입을 환영합니다!</h5>
				</div>
				<div class="mem_ct_wrap">
					<form id="memberJoinForm" onsubmit="return validate()" action="/member/joininfoform" method="POST" th:object="${memberFormDto}">
						<input type="hidden" name="emailDuplChk" id="emailDuplChk" value="Y" title="이메일 중복" />
						<input type="hidden" name="pwTypeChk" id="pwTypeChk" value="" title="비밀번호 형식" />
						<input type="hidden" name="pwConfirmChk" id="pwConfirmChk" value="" title="비밀번호 일치" />
						<input type="hidden" id="sBirthday" th:field="*{mBirth}" value="" />
						<input type="hidden" id="collectionAgreementYN" name="collectionAgreementYN" value="" />

						<div class="chk_agree_wrap">

							<div class="input_group">
								<div class="req_txt">
									<i class="txt_point">*</i>표시는 필수항목입니다.
								</div>
								<h5>
									아이디<i class="txt_point">*</i>
								</h5>
								<div class="input_user_id" style="display: flex">
									<input type="text" id="uid" th:field="*{mId}" class="user_id" placeholder="이메일 아이디를 입력하세요." title="아이디를 입력하세요." maxlength="100"
										style="width: 91%"
									/>
									<button type="button" onclick="nameCheck()" class="btnstl3 border_btn_gray btn_cnl" style="padding: 0px 10px; word-break: keep-all;"
										id="check_dup_btn"
									>중복확인</button>
									<!-- word break : keep-all 크기가 줄어들어도 글자크기 그대로 -->
								</div>
								<div class="err_wrap">
									<p id="hpErrMsg" class="err_txt"></p>
								</div>
								<h5>
									비밀번호<i class="txt_point">*</i>
								</h5>
								<div class="input_user_pw">
									<input type="password" id="pw" th:field="*{mPassword}" class="user_pw" placeholder="비밀번호를 입력하세요." title="비밀번호를 입력하세요." maxlength="100" />
								</div>
								<!-- [TO DEV] Error msg here. -->
								<div class="err_wrap">
									<p class="err_txt" id="pwMsg">
										<!-- 비밀번호는 8~15자리 이하로 영문/숫자/특수문자를 혼합하세요. -->
									</p>
								</div>
								<div class="input_user_pw">
									<input type="password" id="pwc" class="user_pw" placeholder="비밀번호를 한번 더 입력하세요." title="비밀번호를 한번 더 입력하세요." maxlength="100" />
								</div>
								<!-- [TO DEV] Error msg here. -->
								<div class="err_wrap">
									<p class="err_txt" id="pwcMsg">
										<!-- 입력한 비밀번호가 일치하지 않습니다. -->
									</p>
								</div>


								<h5 class="w_helper">
									이메일(정보수신용)

									<!-- tootip s -->
									<span class="cmt_email"><div class="icon_help btn_tooltip" data-tooltip-target="tooltip_cmt_email_guide"></div></span>
									<!-- tootip : contents_area s -->
									<div class="tooltip_contens"></div>
									<!-- tootip : contents_area e -->

									<!-- 툴팁 : 이메일(정보수신용) s -->
									<div class="tooltip_html">
										<div class="tooltip_wrap tooltip_cmt_email_guide">
											<div class="tltp_close_btn btn_tltp_close">
												<span>닫기</span>
											</div>
											<h1 class="tltp_header">이메일(정보수신용)</h1>
											<div class="tltp_content">
												쇼핑에 도움이 되시는 마케팅 정보를 수신하기 위한<br />이메일 입니다.
											</div>
										</div>
									</div>
									<!-- 툴팁 : 이메일(정보수신용) e -->
								</h5>
								<div class="input_user_email">
									<input type="text" id="emailAddress" th:field="*{mEmail}" class="user_email" placeholder="이메일을 입력하세요." title="이메일을 입력하세요." maxlength="100" />
								</div>
								<div class="err_wrap">
									<p class="err_txt" id="emailMsg"></p>
								</div>
								<div class="check_stl chk_area">
									<input type="checkbox" id="chk_agree" name="emailReceiveYn" value="Y" />
									<label for="chk_agree"> 이메일을 통한 상품 및 이벤트 정보 수신에 동의 합니다. (선택) </label> <br /> <a href="#email-prev-popup"
										class="btn_popup_btot email-prev-detail-btn"
									>자세히보기</a>
								</div>

								<h5>
									이름<i class="txt_point">*</i>
								</h5>
								<div class="input_user_name">
									<input type="text" id="name" th:field="*{mName}" class="user_name" placeholder="이름을 입력하세요." title="이름을 입력하세요." maxlength="100" />
								</div>
								<!-- [TO DEV] Error msg here. -->
								<div class="err_wrap">
									<p class="err_txt" id="nameMsg"></p>
								</div>

								<h5>
									핸드폰번호<i class="txt_point">*</i>
								</h5>
								<div class="input_user_phone">
									<input type="text" id="phone" th:field="*{mPhone}" class="user_Phone" placeholder="핸드폰번호를 입력하세요." title="핸드폰번호를 입력하세요." maxlength="100" />
									<p th:if="${#fields.hasErrors('mPhone')}" th:errors="*{mPhone}" class="fieldError">Incorrect data</p>
								</div>

								<br>
								<h5>
									주소<i class="txt_point">*</i>
								</h5>


								<input type="button" onclick="sample2_execDaumPostcode()" value="우편번호 찾기">
								<br>
								<input type="text" id="sample2_postcode" th:field="*{mZipCode}" placeholder="우편번호">

								<input type="text" id="sample2_address" th:field="*{mAddress1}" placeholder="주소">
								<br>
								<input type="text" id="sample2_detailAddress" th:field="*{mAddress2}" placeholder="상세주소">
								<input type="text" id="sample2_extraAddress" placeholder="참고항목">
								<div id="layer" style="display: none; position: fixed; overflow: hidden; z-index: 1; -webkit-overflow-scrolling: touch;">
									
								</div>







								<h5 class="pd_title">
									생년월일<i class="txt_point">*</i>
								</h5>
								<div class="input_user_bday">
									<div class="bday_year">
										<div class="select_box">
											<select id="selYear">
												<option value="">년</option>
												<option value="2009">2009</option>
												<option value="2008">2008</option>
												<option value="2007">2007</option>
												<option value="2006">2006</option>
												<option value="2005">2005</option>
												<option value="2004">2004</option>
												<option value="2003">2003</option>
												<option value="2002">2002</option>
												<option value="2001">2001</option>
												<option value="2000">2000</option>
												<option value="1999">1999</option>
												<option value="1998">1998</option>
												<option value="1997">1997</option>
												<option value="1996">1996</option>
												<option value="1995">1995</option>
												<option value="1994">1994</option>
												<option value="1993">1993</option>
												<option value="1992">1992</option>
												<option value="1991">1991</option>
												<option value="1990">1990</option>
												<option value="1989">1989</option>
												<option value="1988">1988</option>
												<option value="1987">1987</option>
												<option value="1986">1986</option>
												<option value="1985">1985</option>
												<option value="1984">1984</option>
												<option value="1983">1983</option>
												<option value="1982">1982</option>
												<option value="1981">1981</option>
												<option value="1980">1980</option>
												<option value="1979">1979</option>
												<option value="1978">1978</option>
												<option value="1977">1977</option>
												<option value="1976">1976</option>
												<option value="1975">1975</option>
												<option value="1974">1974</option>
												<option value="1973">1973</option>
												<option value="1972">1972</option>
												<option value="1971">1971</option>
												<option value="1970">1970</option>
												<option value="1969">1969</option>
												<option value="1968">1968</option>
												<option value="1967">1967</option>
												<option value="1966">1966</option>
												<option value="1965">1965</option>
												<option value="1964">1964</option>
												<option value="1963">1963</option>
												<option value="1962">1962</option>
												<option value="1961">1961</option>
												<option value="1960">1960</option>
												<option value="1959">1959</option>
												<option value="1958">1958</option>
												<option value="1957">1957</option>
												<option value="1956">1956</option>
												<option value="1955">1955</option>
												<option value="1954">1954</option>
												<option value="1953">1953</option>
												<option value="1952">1952</option>
												<option value="1951">1951</option>
												<option value="1950">1950</option>
												<option value="1949">1949</option>
												<option value="1948">1948</option>
												<option value="1947">1947</option>
												<option value="1946">1946</option>
												<option value="1945">1945</option>
												<option value="1944">1944</option>
												<option value="1943">1943</option>
												<option value="1942">1942</option>
												<option value="1941">1941</option>
												<option value="1940">1940</option>
												<option value="1939">1939</option>
												<option value="1938">1938</option>
												<option value="1937">1937</option>
												<option value="1936">1936</option>
												<option value="1935">1935</option>
												<option value="1934">1934</option>
												<option value="1933">1933</option>
												<option value="1932">1932</option>
												<option value="1931">1931</option>
												<option value="1930">1930</option>
												<option value="1929">1929</option>
												<option value="1928">1928</option>
												<option value="1927">1927</option>
												<option value="1926">1926</option>
												<option value="1925">1925</option>
												<option value="1924">1924</option>
												<option value="1923">1923</option>
												<option value="1922">1922</option>
												<option value="1921">1921</option>
												<option value="1920">1920</option>
												<option value="1919">1919</option>
												<option value="1918">1918</option>
												<option value="1917">1917</option>
												<option value="1916">1916</option>
												<option value="1915">1915</option>
												<option value="1914">1914</option>
												<option value="1913">1913</option>
												<option value="1912">1912</option>
												<option value="1911">1911</option>
												<option value="1910">1910</option>
												<option value="1909">1909</option>
												<option value="1908">1908</option>
												<option value="1907">1907</option>
												<option value="1906">1906</option>
												<option value="1905">1905</option>
												<option value="1904">1904</option>
												<option value="1903">1903</option>
												<option value="1902">1902</option>
												<option value="1901">1901</option>
												<option value="1900">1900</option>
											</select>
										</div>
									</div>
									<div class="bday_month">
										<div class="select_box">
											<select id="selMonth">
												<option value="">월</option>
												<option value="01">01</option>
												<option value="02">02</option>
												<option value="03">03</option>
												<option value="04">04</option>
												<option value="05">05</option>
												<option value="06">06</option>
												<option value="07">07</option>
												<option value="08">08</option>
												<option value="09">09</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
											</select>
										</div>
									</div>
									<div class="bday_day">
										<div class="select_box">
											<select id="selDay">
												<option value="">일</option>
												<option value="01">01</option>
												<option value="02">02</option>
												<option value="03">03</option>
												<option value="04">04</option>
												<option value="05">05</option>
												<option value="06">06</option>
												<option value="07">07</option>
												<option value="08">08</option>
												<option value="09">09</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
												<option value="13">13</option>
												<option value="14">14</option>
												<option value="15">15</option>
												<option value="16">16</option>
												<option value="17">17</option>
												<option value="18">18</option>
												<option value="19">19</option>
												<option value="20">20</option>
												<option value="21">21</option>
												<option value="22">22</option>
												<option value="23">23</option>
												<option value="24">24</option>
												<option value="25">25</option>
												<option value="26">26</option>
												<option value="27">27</option>
												<option value="28">28</option>
												<option value="29">29</option>
												<option value="30">30</option>
												<option value="31">31</option>
											</select>
										</div>
									</div>
								</div>
								<!-- [TO DEV] Error msg here. -->
								<div class="err_wrap">
									<p class="err_txt" id="bdayMsg">
										<!-- 생년월일을 입력하세요. -->
									</p>
								</div>
							</div>
						</div>

						<h5 class="pd_title">
							성별<i class="txt_point">*</i>
						</h5>
						<div>
							<input type="radio" th:field="*{mGender}" value="1" style="opacity: initial; position: relative; appearance: auto">
							남자
							<input type="radio" th:field="*{mGender}" value="2" checked="checked" style="opacity: initial; position: relative; appearance: auto">
							여자
						</div>
						<br>
						<div>
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
						</div>
					</form>
					<!-- [TO DEV] 20180625 버튼 클래스명 수정 s -->
					<div class="btn_wrap btn_wrap_div2">
						<button class="btnstl3 border_btn_gray btn_cnl" id="cancleBtn">취소</button>
						<button class="btnstl3 solid_btn_blk btn_agree" id="joinBtn">동의하고 계속</button>
					</div>
					<!-- 20180625 버튼 클래스명 수정 e -->
				</div>
			</div>

			<div class="hsome_layer_popup03 email-detail-pop visible" id="email-prev-popup">
				<div class="ext_policy_wrap">
					<p>
						■ 개인정보의 수집항목 및 이용<br /> <br /> 더한섬닷컴은 별도의 회원가입 절차 없이 대부분의 컨텐츠에 자유롭게 접근할 수 있습니다. 더한섬닷컴의 서비스를 이용하시는 경우 다음의 정보를 고객의 동의를 받아 수집할 수 있으며 선택항목을 입력하지
						않아도 서비스 이용에 제한은 없습니다. <br /> <br /> 회원가입 및 주문 등 필요시점에 수집하는 개인정보의 범위
					</p>

					<table class="tbl_ltype">
						<caption>회원가입 및 주문 등 필요시점에 수집하는 개인정보의 범위</caption>
						<colgroup>
							<col style="width: 26%" />
							<col style="width: auto" />
							<col style="width: auto" />
							<col style="width: 26%" />
						</colgroup>
						<thead>
							<tr>
								<th scope="col">수집 방법</th>
								<th scope="col">이용 목적</th>
								<th scope="col">수집 정보</th>
								<th scope="col">수집 항목</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="frt txt-center">간편회원가입</td>
								<td class="txt-center"><strong>신규서비스/<br />상품안내
								</strong></td>
								<td class="txt-center">선택</td>
								<td class="txt-center">이메일</td>
							</tr>
						</tbody>
					</table>
					<p style="margin-top: 8px">
						* 보유 기간 : <strong>회원 탈퇴 시 또는 동의 철회 시</strong>
					</p>
				</div>

				<a href="#" class="pop-comm-cls">닫기</a>
			</div>
			<div class="hs_pro_view_layer" style="z-index: 1000"></div>

			<!-- //################## contents ################## -->
		</div>
	</div>

	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

	<script>
		// 우편번호 찾기 화면을 넣을 element
		var element_layer = document.getElementById('layer');

		function closeDaumPostcode() {
			// iframe을 넣은 element를 안보이게 한다.
			element_layer.style.display = 'none';
		}

		function sample2_execDaumPostcode() {
			new daum.Postcode(
					{
						oncomplete : function(data) {
							// 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

							// 각 주소의 노출 규칙에 따라 주소를 조합한다.
							// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
							var addr = ''; // 주소 변수
							var extraAddr = ''; // 참고항목 변수

							//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
							if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
								addr = data.roadAddress;
							} else { // 사용자가 지번 주소를 선택했을 경우(J)
								addr = data.jibunAddress;
							}

							// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
							if (data.userSelectedType === 'R') {
								// 법정동명이 있을 경우 추가한다. (법정리는 제외)
								// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
								if (data.bname !== ''
										&& /[동|로|가]$/g.test(data.bname)) {
									extraAddr += data.bname;
								}
								// 건물명이 있고, 공동주택일 경우 추가한다.
								if (data.buildingName !== ''
										&& data.apartment === 'Y') {
									extraAddr += (extraAddr !== '' ? ', '
											+ data.buildingName
											: data.buildingName);
								}
								// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
								if (extraAddr !== '') {
									extraAddr = ' (' + extraAddr + ')';
								}
								// 조합된 참고항목을 해당 필드에 넣는다.
								document.getElementById("sample2_extraAddress").value = extraAddr;

							} else {
								document.getElementById("sample2_extraAddress").value = '';
							}

							// 우편번호와 주소 정보를 해당 필드에 넣는다.
							document.getElementById('sample2_postcode').value = data.zonecode;
							document.getElementById("sample2_address").value = addr;
							// 커서를 상세주소 필드로 이동한다.
							document.getElementById("sample2_detailAddress")
									.focus();

							// iframe을 넣은 element를 안보이게 한다.
							// (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
							element_layer.style.display = 'none';
						},
						width : '100%',
						height : '100%',
						maxSuggestItems : 5
					}).embed(element_layer);

			// iframe을 넣은 element를 보이게 한다.
			element_layer.style.display = 'block';

			// iframe을 넣은 element의 위치를 화면의 가운데로 이동시킨다.
			initLayerPosition();
		}

		// 브라우저의 크기 변경에 따라 레이어를 가운데로 이동시키고자 하실때에는
		// resize이벤트나, orientationchange이벤트를 이용하여 값이 변경될때마다 아래 함수를 실행 시켜 주시거나,
		// 직접 element_layer의 top,left값을 수정해 주시면 됩니다.
		function initLayerPosition() {
			var width = 300; //우편번호서비스가 들어갈 element의 width
			var height = 400; //우편번호서비스가 들어갈 element의 height
			var borderWidth = 5; //샘플에서 사용하는 border의 두께

			// 위에서 선언한 값들을 실제 element에 넣는다.
			element_layer.style.width = width + 'px';
			element_layer.style.height = height + 'px';
			element_layer.style.border = borderWidth + 'px solid';
			// 실행되는 순간의 화면 너비와 높이 값을 가져와서 중앙에 뜰 수 있도록 위치를 계산한다.
			element_layer.style.left = (((window.innerWidth || document.documentElement.clientWidth) - width) / 2 - borderWidth)
					+ 'px';
			element_layer.style.top = (((window.innerHeight || document.documentElement.clientHeight) - height) / 2 - borderWidth)
					+ 'px';
		}

		var checkedID = false;

		var inputID = document.getElementById("uid");

		function changeID() {
			checkedID = false;

		}

		inputID.onchange = changeID;

		function validate() {
			if (!checkedID) {
				alert("아이디 중복체크를 해주세요");
			}

			return checkedID;
		}

		function nameCheck() {

			var tfUsername = $('input#uid').val();

			console.log(tfUsername);

			$.ajax({
				type : 'get',
				url : '/member/check?checkid=' + tfUsername,

				success : function(result) {
					console.log(result);
					console.log('아이디 중복 체크 실행: success')

					if (result == 1) {
						alert('아이디가 중복되었습니다.')
					} else if (result == 0) {
						alert('사용하실 수 있는 아이디 입니다.')
						checkedID = true;
					} else if (result == 2) {
						alert('아이디를 입력해주세요')
					} else {
						console.log('develop: 서버오류');
					}

				},
				error : function(error) { // 결과 에러 콜백함수
					console.log(error)
				}
			})

		}
	</script>

	<th:block th:replace="common/footer :: footFragment"></th:block>
</body>
</html>
