@font-face {
    font-family:'Apple SD Gothic Neo';
    src:url("../fonts/AppleSDGothicNeoL.woff") format("woff");
    font-weight:300;
    font-style: normal;
}

@font-face {
    font-family:'Apple SD Gothic Neo';
    src:url("../fonts/AppleSDGothicNeoR.woff") format("woff");
    font-weight:400;
    font-style:normal;
}

@font-face {
    font-family:'Apple SD Gothic Neo';
    src:url("../fonts/AppleSDGothicNeoSB.woff") format("woff");
    font-weight:600;
    font-style:normal;
}

@font-face {
    font-family:'Apple SD Gothic Neo';
    src:url("../fonts/AppleSDGothicNeoB.woff") format("woff");
    font-weight:700;
    font-style:normal;
}

@font-face {
    font-family:'Apple SD Gothic Neo';
    src:url("../fonts/AppleSDGothicNeoEB.woff") format("woff");
    font-weight:800;
    font-style:normal;
}