<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>

	<h1>임시 메인 페이지 인증 관련 페이지 입니다.</h1>
	<h1>For Member ....................</h1>
	
	<!--ROLE_ADMIN 권한을 갖는다면 이 글이 보임-->
	<h1 sec:authorize="hasRole('ADMIN')">Has admin Role</h1>
	<br>
	
	<!--ROLE_USER 권한을 갖는다면 이 글이 보임-->
	<h1 sec:authorize="hasRole('USER')">Has user Role</h1>
	<!--ROLE_MANAGER 권한을 갖는다면 이 글이 보임-->
	<br>
	
	<h1 sec:authorize="hasRole('MANAGER')">Has MANAGER ROLE</h1>
	<!--어떤 권한이건 상관없이 인증이 되었다면 이 글이 보임-->
	<br>
	
	<!--인증시 사용된 객체에 대한 정보-->
	<div sec:authorize="isAuthenticated()">Only Authenticated user can see this Text</div>
	<!--인증시 사용된 객체에 대한 정보-->
	<br>
	
	<b>Authenticated DTO: Authenticated user 정보 (SecurityMember 객체 정보)</b>
	<div sec:authentication="principal"></div>
	
	<!--인증시 사용된 객체의 Username (ID)-->
	<br>
	<b>Authenticated username:</b>
	<div sec:authentication="name"></div>
	<div th:text="${#authentication.name}"></div>
	<br>
	
	<!--객체의 권한-->
	<b>Authenticated user role:</b>
	<div sec:authentication="principal.authorities"></div>
	
</body>
</html>
